61646d696e6c6f67696e/error_log
"61646d696e6c6f67696e/error_log" 
73616c65737265706c6f67696e/
Easyprofit/
computers.txt
del/
encrypted
img/
jerobyte-jrc.apk
logo.png
padhivetram/
productcsv.csv
tallyexport/
upsec/
*
!/.gitignore